.layout{
    display: grid;
    grid-template-columns: 1fr 280px;
}

.body{
  overflow: auto;
}

.home{
    background-color: #66FCF1;
    margin: 20px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
  
  .settingsContent {
    display: flex;
    width: 90%;
    gap: 10px;
  }
  
  .profileSection {
    width: 200px;
    background-color: #66FCF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    padding-top: 30px;
  }
  
  .profilePic {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
  }
  
  .profileBtn {
    background-color: #000;
    color: #66FCF1;
    border: none;
    font-family: karantina;
    font-size: 24px;
    margin-bottom: 10px;
    height: 70px;
    cursor: pointer;
    width: 220px;
    text-align: center;
    border-radius: 40px;
    font-weight: bold;
  }
  
  .formsSection {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .formGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .formGroupDivider {
    position: relative;
    margin-right: 25px;
    padding-right: 20px;
  }
  
  .formGroupDivider::after {
    content: "";
    position: absolute;
    top: 30px; /* Adjust this to "cut off" the top of the line */
    right: 0;
    width: 9px;
    height: calc(100% - 60px); /* Adjust for bottom spacing */
    background-color: #022541;
  }
  
  
  .formGroup input {
    padding: 8px;
    font-size: 20px;
    font-weight: bolder;
    width: 85%;
    height: 35px;
    background-color: #FFFFFF;
    border: 3px solid #022541;
    border-radius: 7px;
    margin: 15px 0px;
  }
  
  .updateBtn {
    background-color: #000;
    color: #fff;
    font-size: 32px;
    border: none;
    width: 65%;
    margin-top: 10px;
    margin-left: 12%;
    height: 55px;
    padding: 8px;
    cursor: pointer;
    border-radius: 15px;
    font-family: karantina;
    font-weight: bold;
  }
  
  .logoutBtn {
    background-color: #FFFFFF;
    border: 5px solid #000;
    color: #000;
    font-family: karantina;
    font-size: 39px;
    margin: 0px 0px 20px;
    padding: 10px 100px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 19%;
    border-radius: 35px;
  }
  