.layout{
    display: grid;
    grid-template-columns: 1fr 280px;
}

.body{
    overflow: none;
}

.app{
    overflow: none;
}

.home{
    background-color: #66FCF1;
    margin: 50px 50px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: flex-end;
    margin-right: 110px;
  }
  
  .searchInput {
    width: 400px;
    padding: 12px;
    font-size: 1.5rem;
    border: 2px solid #022541;
    border-radius: 6px;
  }
  
  .suggestions {
    width: 425px;
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .suggestions li {
    background: #010e11;
    color: #07e7e7;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .suggestions li a {
    text-decoration: none;
    color: #1bf3f3;
  }

.section{
    text-align: center;
    font-size: 35px;
    font-family: karantina;
}


.movies{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    column-gap: 30px;
}

.arrow{
    opacity: 0;
    transition: opacity 0.7s ease;
    cursor: pointer;
}

.movies:hover .arrow{
    opacity: 0.8;
}

.slider{
    display: grid;
    grid-template-columns: 1fr;
}